<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%5p} %d{yyyy-MM-dd-HH:mm:ss} %t %c{1}(%L) - %m%n{FATAL=red, ERROR=red, WARN=yellow, INFO=black, DEBUG=green, TRACE=blue}"/>
<!--            <PatternLayout pattern="%m%n{FATAL=red, ERROR=red, WARN=yellow, INFO=black, DEBUG=green, TRACE=blue}"/>-->
        </Console>
    </Appenders>
    <Loggers>
        <Root>
            <level>info</level>
            <AppenderRef ref="Console"/>
        </Root>
<!--        <logger name="com.netflix.discovery.DiscoveryClient" level="debug"/>-->
<!--        <logger name="com.tiddev.apigateway.GatewayApplicationBoot3" level="debug"/>-->
<!--        <logger name="org.springframework.cloud.loadbalancer" level="debug"/>-->
    </Loggers>
</Configuration>
